/*Body of Page*/

body {
    font-family: 'Ubuntu', sans-serif;
    background: #453726;
    background: linear-gradient(to left, #453726 0%,#4d2c22 20%,#4a1d1e 48%,#4a1b26 76%,#4a0d2c 100%);
}
h2 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: #c3073f;
}
a {
    cursor: pointer;
}
.header {
    margin: 0;
    color: white;
}
.header-sub {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}
.sub-header {
    text-align: center;
    color: rgb(255, 166, 0);
    font-size: 26px;
    margin-bottom: 15px;
}

@media (min-width: 1200px) {
    body {
        background: #001136;
        background: linear-gradient(to right, #001136 0%,#001a36 20%,#002730 43%,#081f1d 68%,#223b2b 100%);
    }
    h2 {
    color: #0e5a30;
    }
}
/**/

/*Header of Page*/

.hero {
    position: relative;
    text-align: center;
    color: white;
}
.hero-img {
    max-height: 200px;
    overflow: hidden;
}
.hero-inner img {
    max-height: 200px;
    border: 3px double #c3073f;
    margin-top: -100px  
}
.hero-inner h1 {
    margin: 0;
    padding-top: 10px;
    font-family: 'Anton', sans-serif;
}
.hero-inner p {
    margin: 0;
    font-size: 24px;
}
.hero-inner ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}
.hero-inner li {
    display: inline-block;
    margin-right: 5px;
}
.hero-inner a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 30px;
    background-color: #c3073f;
    border-radius: 50%;
    border: 3px solid white;
}
.hero-inner a:hover {
    color: #1a1a1d;
}

@media (min-width: 1200px) {
    .hero-img {
        max-height: 645px;
    }
    .hero-inner {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-40%);
        color:#ffffff;
        text-align: center;
    }
    .hero-inner img {
        border: 3px double #0e5a30;
        margin-top: -50px;
    }
    .hero-inner h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 45px;
    }
    .hero-inner p {
        margin: 0 0 10px;
    }
    .hero-inner li {
        margin: 20px 5px;
    }
    .hero-inner a {
        padding: 10px 15px;
        background-color: #0e5a30;
    }
    .hero-border {
        border: 2px solid white;
    }
}
/**/

/*Nav-Bar*/

.nav-bar {
    position: sticky;
    top: -1px;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1a1a1d;
}
.nav-bar ul {
    padding: 0;
    margin: 5px 0px;
    list-style: none;
    text-align: center;
}
.nav-bar li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}
.nav-bar li:hover i {
    transform: rotate(180deg);
}
.nav-bar a {
    text-decoration: none;
    color: white;
    padding: 25px 0 25px 0;
}
.nav-bar a:hover {
    text-decoration: none;
    color: #0e5a30;
}
.nav {
    margin-left: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 52px;
    left: -45px;
    background-color: #242427;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #0e5a3060;
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

@media (min-width: 1200px) {

    .nav-bar li {
        font-size: 24px;
    }
    .nav-bar a:hover {
        color: #c3073f;
    }
    .nav {
        margin-left: 40px;
    }
    .dropdown-content {
        top: 57px;
        left: -35px;
        box-shadow: 0px 8px 16px 0px #c3073f60;
    }
}
/**/

/*My Bio/My Projects*/

.me-and-my-projects a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}
.me-and-my-projects a:hover {
    background-color: rgb(255, 166, 0);
}
.me-and-my-projects p {
    color: white;
}

/*Bio*/

.about-bio {
    padding-top: 40px;
    padding-bottom: 30px;
    background: #001136;
    background: linear-gradient(to right, #001136 0%,#001a36 20%,#002730 43%,#081f1d 68%,#223b2b 100%);
    color: white;
}
.about-bio-info {
    font-size: 16px;
}
/**/

/*Projects*/
.projects {
    padding-top: 40px;
}
.project {
    padding-bottom: 20px;
    background-color: #1a1a1d;
}
.project ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.project a {
    margin-right: 10px;
}
.project-img {
    padding: 0;
}
.project-info p {
    font-size: 16px;
}
/**/

@media (min-width: 1200px) {

    .about-bio {
        background: #453726;
        background: linear-gradient(to left, #453726 0%,#4d2c22 20%,#4a1d1e 48%,#4a1b26 76%,#4a0d2c 100%);
    }
    .project {
        padding-bottom: 0;
        margin-bottom: 60px;
        background-color: #1a1a1d;
    }
}
/**/

/*My Contact*/

.contacts {
    padding-top: 40px;
    padding-bottom: 20px;
    background: linear-gradient(to left, #453726 0%,#4d2c22 20%,#4a1d1e 48%,#4a1b26 76%,#4a0d2c 100%);
}
.contacts ul {
    padding: 0;
    list-style: none;
}
.contacts li {
    color:white;
    font-size: 18px;
}
.contacts i {
    margin-right: 15px;
}
.contacts a {
    text-decoration: none;
    color: white;
}
.contacts a:hover {
    text-decoration: underline;
    color: rgb(255, 166, 0);
}

/**/
/*My Socials*/

.social {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #1a1a1d;
}
.social ul {
    text-align: center;
    padding: 0;
    list-style: none;
}
.social li {
    display: inline-block;
    margin-right: 20px;
}
.social a {
    color: white;
    font-size: 30px;
}
.social a:hover {
    background-color: #c3073f;
    padding: 1px 6px;
    border-radius: 3px;
    font-size: 40px;
}

@media (min-width: 1200px) {
    .social {
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: #1a1a1d;
    }
    .social a {
        font-size: 50px;
    }
    .social a:hover {
        background-color: #0e5a30;
        font-size: 60px;
    }
}
/**/